parent-component my-component {
  property: value;
}

direct-parent-component > my-component {
  property: value;
}

super-direct-parent-component > * > my-component {
  property: value;
}

parent-component my-component a {
  property: value-x;
}

parent-component my-component > i {
  property: value-y;
}

html.layout-portrait.mobile your-component {
  property: value;
}
