parent-component my-component {
  property: value;
}

direct-parent-component > my-component {
  property: value;
}

super-direct-parent-component > * > my-component {
  property: value;
}

parent-component my-component a {
  property: value-x;
}

parent-component my-component > i {
  property: value-y;
}

html.layout-portrait.mobile your-component {
  property: value;
}

direct-parent-component > your-component {
  some: thing;
}

previous-component + your-component {
  other: thing;
}

other-parent-component > your-component {
  next: other;
}

.section {
  margin: 1em;
}

.section + .section {
  margin: 2em;
}
