@import "./src/spot-css"


+component('my-component')
  +register
    +variant('.apple')
    +variant('.orange')
    +child-element('span')

  +default
    property: value

  +_____________________
  +child-element('span')
    +default
      property: value

    +variant('.apple')
      property: value-2

    +default()  // redundant default in child element
      property: value-3