@import "./src/spot-css"

+component("my-component-1")
    +register
        +state('.active')
        +pseudo-element('before')
        +pseudo-element('after')

    +_________________________________
    +pseudo-element('before', 'after')
        +default
        +state('.active')
            property: value



+component("my-component-2")
    +register
        +state('.active')
        +pseudo-element('before')

    +________________________
    +pseudo-element('before')
        +default
        +state('.active')
            property: value-b



+component("my-component-3")
    +register
        +state('.active')
        +pseudo-element('after', 'before')
        +pseudo-element('first-letter')
        +pseudo-element('first-line')
        +pseudo-element('placeholder')
        +pseudo-element('selection')
        +pseudo-element('-webkit-scrollbar')

    +_______________________
    +pseudo-element('after')
        +default
        +state('.active')
            property: value-a

    +______________________________
    +pseudo-element('first-letter')
        property: value-1

    +____________________________
    +pseudo-element('first-line')
        property: value-1

    +_____________________________
    +pseudo-element('placeholder')
        property: value-1

    +___________________________
    +pseudo-element('selection')
        property: value-1

    +___________________________
    +pseudo-element('-webkit-scrollbar')
        property: value-1



// aliases
+component("my-component-4")
    +register
        +pseudo-element('{pseudo}', 'after', 'before')
        +element('.wrapper')
            +pseudo-element('{pseudo-2}', 'before', 'after')

    property: value-1

    +________________________
    +pseudo-element('before')
        property: value-2

    +________________________
    +pseudo-element('after')
        property: value-3

    +___________________
    +element('.wrapper')
        property: value-4

        +________________________
        +pseudo-element('{pseudo-2}')
            property: value-5



// more pseudo elements without alias
+component("my-component-5")
    +register
        +element('.wrapper')
            +pseudo-element('after', 'before')            

    property: value-1

    +___________________
    +element('.wrapper')
        property: value-2

        +________________________
        +pseudo-element('before')
            property: value-3

        +________________________
        +pseudo-element('after')
            property: value-4