@import "./src/spot-css"

+component("my-component-1")
    +register
        +state('.active')

    // ----------------------------------------------
    +pseudo-element('before', 'after')
        +default
        +state('.active')
            property: value


// ----------------------------------------------
+component("my-component-2")
    +register
        +state('.active')

    // ----------------------------------------------
    +pseudo-element('before')
        +default
        +state('.active')
            property: value-b


// ----------------------------------------------
+component("my-component-3")
    +register
        +state('.active')

    // ----------------------------------------------
    +pseudo-element('after')
        +default
        +state('.active')
            property: value-a

    // ----------------------------------------------
    +pseudo-element('first-letter')
        property: value-1
    // ----------------------------------------------
    +pseudo-element('first-line')
        property: value-1
    // ----------------------------------------------
    +pseudo-element('placeholder')
        property: value-1
    // ----------------------------------------------
    +pseudo-element('selection')
        property: value-1
