@import "./src/spot-css"


+component('my-component')
  +register
    +variant('.apple')
    +variant('.orange')
    +variant('.orange-juice')
    +child-element('span')
  
  +default
    prop: val

  +variant('.apple', '.orange', '.orange-juice')
    +default
      property: value

    +only-for('.apple')
      property: other-value-1

    +only-for('.orange')
      property: other-value-2

    +only-for('.orange-juice')
      property: other-value-juice

    +only-for(':first-child')
      property: other-value-3

    +only-for(':first-of-type')
      property: other-value-4

  +_____________________
  +child-element('span')
    +default

    +only-for(':last-child')
      property: other-value-5
    
    +only-for(':last-of-type')
      property: other-value-6

    +variant('.apple', '.orange')
      +default
        property: value

      +only-for('.apple')
        property: other-value-7

      +only-for('.orange')
        property: other-value-8

      +only-for(':nth-child(1)')
        property: other-value-9

      +only-for(':nth-last-child(2)')
        property: other-value-10

      +only-for(':nth-last-of-type(3n+1)')
        property: other-value-11

      +only-for(':nth-of-type(3+2)')
        property: other-value-8

      +only-for(':only-of-type')
        property: other-value-9
      
      +only-for(':only-child')
        property: other-value-10



+component('my-component-2')
    +register
      +state(':focus')
      +element('.parent')
        +element('.child')
          +state(':hover')

    +__________________________
    +element('.parent')
      
      +__________________________
      +element('.child')
        +default
          property: value-1

        +state(':hover')
          property: value-2

        +only-for('>')
          +default
            property: value-3

          +state(':hover')
            property: value-4

          +state(':focus')
            property: value-5



// only-for for elements:
+component('my-component-3')
  +register
    +element('a', 'span')

  +_______________________
  +element('a', 'span')
    +default
      property: value-1
    
    +only-for('a')
      property: value-2

    +only-for('span')
      property: value-3




+component('my-component-4')
  +register
    +element('ul')
      +element('li')
        +element('a', 'span')
          +state(':hover')
          +state('.-active')
          +state(':not(.-active)')
          +state('.-disabled')

  +_____________________
  +element('ul')
    property: value-1

    +_____________________
    +element('li')
      +default

      +inner-context('li +')
        property: value-2

      +_____________________
      +element('a', 'span')
        +default
          property: value-3

        +state('.-active')
          property: value-5

        +state('.-disabled')
          property: value-6

        +only-for('span')
          +default
            property: value-7

          +state(':not(.-active)')
            // to prevent warning of unused mutation

          +state(':hover')
            // to prevent warning of unused mutation

        +only-for('a')
          +default

          +state(':not(.-active)')
            +default

            +state(':hover')
              property: value-8



+component('.c-checkbox', '.c-radio', '.c-selector')
    +register
        +state(':checked')
        +state(':focus')
        +state(':disabled')
        +element('+ label')
            +state(':hover')
            +pseudo-element('{pseudo}', 'before', 'after')

    position: absolute
    opacity: 0
    
    +_________________________
    +element('+ label')
        +default
            position: relative

        +state(':disabled')
            cursor: auto

        +_________________________
        +pseudo-element('{pseudo}')
            +default
                content: ''

            +only-for('::before')
                +default
                    border-radius: 0

                +only-for('.c-radio')
                    +default
                        border-radius: 50%
                    
                    +state(':checked')
                        border-radius: 10%

                +state(':hover')
                    border-color: black
                
                +state(':focus')
                    box-shadow: 0 0 0 3px black

                +state(':disabled')
                    border-color: gray

            +only-for('::after')
                +default
                    opacity: 0

                +state(':checked')
                    +default
                        opacity: 1

                    +only-for('.c-radio')
                        content: ''
