@import "./src/spot-css"


+component("my-component")
    +register
        +context('parent-component')
        +context('direct-parent-component >')
        +context('super-direct-parent-component > * > &') // with ampersand
        +context('html.mobile')
        +context('html.layout-portrait')
        +sub-component('a')
        +child-component('i')

    +default

    +context('parent-component')
        property: value
    
    +context('direct-parent-component >')
        property: value

    +context('super-direct-parent-component > * > &')
        property: value

    +context('html.mobile')
    
    +context('html.layout-portrait')

    +__________________
    +sub-component('a')
        +default
        
        +context('parent-component') // inherited from parent (top) component
            property: value-x

    +__________________
    +child-component('i')
        +default
        
        +context('parent-component') // inherited from parent (top) component
            property: value-y
    
// mergin contexts
+component("your-component")
    +register
        +context('parent-component')
        +context('direct-parent-component >')
        +context('previous-component +')
        +context('super-direct-parent-component > * > &') // with ampersand
        +context('html.mobile')
        +context('html.layout-portrait')
        +context('other-parent-component > &') // with ampersand
    
    +default

    +context('html.mobile')
        +default
        +context('html.layout-portrait')
            property: value

    +context('direct-parent-component >')
        some: thing

    +context('previous-component +')
        other: thing

    +context('other-parent-component > &')
        next: other

    +context('parent-component')

    +context('super-direct-parent-component > * > &')