@import "./src/spot-css"

// element selector
+component("my-component")
    +register
        +state(':hover')

        +child-element('span.sub')
            +sub-component("a")
            +sub-component("strong")

    property: value

    +_________________________
    +child-element('span.sub')

        +__________________
        +sub-component("a")
            +default
                property: value
            
            +state(':hover')    // unknown-modifier (it is state of parent component)
                property: value-2

        +_______________________
        +sub-component("strong")
            property: value
