@import "./src/spot-css"


+component("my-component")
    +register
        +state(':hover')        
        +state('.active')
        +state('.a')
        +state('.b')

    // ----------------------------------------------
    +default

    +state(':hover')
        property: value
    
    +state('.a', '.b')
        property: value

    // ----------------------------------------------
    +child-element('.inner')
        +default
        +state(':hover')
            property: value-x

        // ----------------------------------------------
        +component("sub-component")
            +register
                +state(':hover')        

            // ----------------------------------------------
            +default

            +state(':hover')
                property: sub-value

            // ----------------------------------------------
            +component("sub-sub-component")
                +register
                    +state(':hover')        
                
                // ----------------------------------------------
                +default

                +state(':hover')
                    property: sub-sub-value

