@import "./src/spot-css"


+component("my-component")
    +register
        +state(':hover')       
        +state('.active')
        +state('.a')
        +state('.b')
        +responsive('{mobile}', '@media only screen and (max-width: 360px)')
        +responsive('{multiple}', '@media only screen and (max-width: 600px), only screen and (max-width: 600px)')

        +child-element('.inner')
            +sub-component("sub-component")
            +child-component("child-component")

    +default

    +state(':hover')
        +default
            property: value
    
    +state('.a', '.b')
        property: value

    +responsive('{mobile}')
        +default

        +state(':hover')
            property: value-responsive

    +state('.active')
        +default

        +responsive('{multiple}')

    +_______________________
    +child-element('.inner')
        +default
        +state(':hover')
            property: value-x

        +______________________________
        +sub-component("sub-component")
            +register
                +state(':hover')        
                +sub-component("sub-sub-component")
                
            +default

            +state(':hover')
                property: sub-value

            +__________________________________
            +sub-component("sub-sub-component")
                +register
                    +state(':hover')        
                
                +default

                +state(':hover')
                    property: sub-sub-value
        +______________________________
        +child-component("child-component")
            +register
                +state(':hover')        
                +sub-component("sub-sub-component")
                
            +default

            +state(':hover')
                property: sub-value

            +__________________________________
            +sub-component("sub-sub-component")
                +register
                    +state(':hover')        
                
                +default

                +state(':hover')
                    property: sub-sub-value


+component('article')
    +register
        +state(':hover')
        +state(':focus')
        +element('.header')
            +state(':hover')
            +state(':focus')
            +element('.collapse')
                +state(':hover')
                +state(':focus')

    display: inline-flex

    +________________________
    +element('.header')
        position: relative

        +________________________
        +element('.collapse')
            +default
                background: grey

            +state(':hover', 0)
                background: blue

            +state(':hover', -1)
                background: red

            +state(':hover', -2)
                background: green

            +state(':focus', 1)
                background: magenta

            +state(':focus', 2)
                background: cyan

            +state(':focus', 0)
                background: yellow



+component('article-2')
    +register
        +state(':focus')
        +element('.header')
            +element('.collapse')
                +state(':focus')

    display: inline-flex

    +________________________
    +element('.header')
        position: relative

        +________________________
        +element('.collapse')
            +default
                background: grey

            +state(':focus', 1)
                background: magenta

            +state(':focus', 2)
                background: cyan
