my-component {
  property: value;
  /* top component: my-component */
}

my-component > span.sub a {
  property: value;
  /* top component: my-component */
}

my-component > span.sub a:hover {
  property: value-2;
  /* top component: my-component */
}

my-component > span.sub strong {
  property: value;
  /* top component: my-component */
}

my-component > span.sub > i {
  property: value;
  /* top component: my-component */
}
