my-component {
  prop: val;
}

my-component.apple, my-component.orange, my-component.orange-juice {
  property: value;
}

my-component.apple {
  property: other-value-1;
}

my-component.orange {
  property: other-value-2;
}

my-component.orange-juice {
  property: other-value-juice;
}

my-component.apple:first-child, my-component.orange:first-child, my-component.orange-juice:first-child {
  property: other-value-3;
}

my-component.apple:first-of-type, my-component.orange:first-of-type, my-component.orange-juice:first-of-type {
  property: other-value-4;
}

my-component > span:last-child {
  property: other-value-5;
}

my-component > span:last-of-type {
  property: other-value-6;
}

my-component.apple > span, my-component.orange > span {
  property: value;
}

my-component.apple > span {
  property: other-value-7;
}

my-component.orange > span {
  property: other-value-8;
}

my-component.apple > span:nth-child(1), my-component.orange > span:nth-child(1) {
  property: other-value-9;
}

my-component.apple > span:nth-last-child(2), my-component.orange > span:nth-last-child(2) {
  property: other-value-10;
}

my-component.apple > span:nth-last-of-type(3n+1), my-component.orange > span:nth-last-of-type(3n+1) {
  property: other-value-11;
}

my-component.apple > span:nth-of-type(3+2), my-component.orange > span:nth-of-type(3+2) {
  property: other-value-8;
}

my-component.apple > span:only-of-type, my-component.orange > span:only-of-type {
  property: other-value-9;
}

my-component.apple > span:only-child, my-component.orange > span:only-child {
  property: other-value-10;
}

my-component-2 .parent .child {
  property: value-1;
}

my-component-2 .parent .child:hover {
  property: value-2;
}

my-component-2 .parent > .child {
  property: value-3;
}

my-component-2 .parent > .child:hover {
  property: value-4;
}

my-component-2:focus .parent > .child {
  property: value-5;
}

my-component-3 a {
  property: value-1;
}

my-component-3 a {
  property: value-2;
}

my-component-3 span {
  property: value-1;
}

my-component-3 span {
  property: value-3;
}

my-component-4 ul {
  property: value-1;
}

my-component-4 ul li + li {
  property: value-2;
}

my-component-4 ul li a {
  property: value-3;
}

my-component-4 ul li a.-active {
  property: value-5;
}

my-component-4 ul li a.-disabled {
  property: value-6;
}

my-component-4 ul li a:not(.-active):hover {
  property: value-8;
}

my-component-4 ul li span {
  property: value-3;
}

my-component-4 ul li span.-active {
  property: value-5;
}

my-component-4 ul li span.-disabled {
  property: value-6;
}

my-component-4 ul li span {
  property: value-7;
}

.c-checkbox {
  position: absolute;
  opacity: 0;
}

.c-checkbox + label {
  position: relative;
}

.c-checkbox:disabled + label {
  cursor: auto;
}

.c-checkbox + label::before, .c-checkbox + label::after {
  content: '';
}

.c-checkbox + label::before {
  border-radius: 0;
}

.c-checkbox + label:hover::before {
  border-color: black;
}

.c-checkbox:focus + label::before {
  box-shadow: 0 0 0 3px black;
}

.c-checkbox:disabled + label::before {
  border-color: gray;
}

.c-checkbox + label::after {
  opacity: 0;
}

.c-checkbox:checked + label::after {
  opacity: 1;
}

.c-radio {
  position: absolute;
  opacity: 0;
}

.c-radio + label {
  position: relative;
}

.c-radio:disabled + label {
  cursor: auto;
}

.c-radio + label::before, .c-radio + label::after {
  content: '';
}

.c-radio + label::before {
  border-radius: 0;
}

.c-radio + label::before {
  border-radius: 50%;
}

.c-radio:checked + label::before {
  border-radius: 10%;
}

.c-radio + label:hover::before {
  border-color: black;
}

.c-radio:focus + label::before {
  box-shadow: 0 0 0 3px black;
}

.c-radio:disabled + label::before {
  border-color: gray;
}

.c-radio + label::after {
  opacity: 0;
}

.c-radio:checked + label::after {
  opacity: 1;
}

.c-radio:checked + label::after {
  content: '';
}

.c-selector {
  position: absolute;
  opacity: 0;
}

.c-selector + label {
  position: relative;
}

.c-selector:disabled + label {
  cursor: auto;
}

.c-selector + label::before, .c-selector + label::after {
  content: '';
}

.c-selector + label::before {
  border-radius: 0;
}

.c-selector + label:hover::before {
  border-color: black;
}

.c-selector:focus + label::before {
  box-shadow: 0 0 0 3px black;
}

.c-selector:disabled + label::before {
  border-color: gray;
}

.c-selector + label::after {
  opacity: 0;
}

.c-selector:checked + label::after {
  opacity: 1;
}
