@import "./src/spot-css"

// element selector
+component("my-component")
    +register
        +child-element('span.sub')
            +child-component("a")
            +child-component("strong")

    property: value

    +_________________________
    +child-element('span.sub')

        +__________________
        +child-component("a")
            +register
                +state(':hover')
            
            +default
                property: value
            
            +state(':hover')
                property: value-2

        +_______________________
        +child-component("strong")
            property: value


+component('ui-window')
    +register
        +state(':hover')
        +child-component('.close-button')
            +state(':hover')
            +variant('.big')
            +child-element('button')
            +sub-element('a')

    +default

    +state(':hover')

    +______________________________
    +child-component('.close-button')
        +default
            property: value

        +state(':hover')
            property: value-2

        +variant('.big')
            font-size: 15em

        +_______________________
        +child-element('button')
            border: 0

        +_______________________
        +sub-element('a')
            text-decoration: none
