my-component {
  property: value;
}

my-component .wrapper {
  property: value;
}

my-component .wrapper-a, my-component .wrapper-b {
  property: value;
}

my-component .wrapper-x, my-component .wrapper-y, my-component .wrapper-z {
  property: value;
}

my-component .wrapper-c {
  property: value-c;
}

my-component .wrapper-c .wrapper-d {
  property: value-d;
}

my-component div.wrapper {
  property: value;
}
