@import "./src/spot-css"


+component('test')
    +register
        +state('{hover}', ':hover', '.simulate-hover')
        +state(':active')
        +element('span')
        +element('.description')
        +element('.info')
        +element('footer')
        +element('.footer-info')
    
    +_____________________
    +element('span')
        +default

        +inner-context('h1 +')
            display: block

    +___________________________________
    +element('.description', '.info')
        +default

        +inner-context('h2 ~')
            border: 0

    +__________________________
    +element('footer')
        +default

        +state('{hover}')
            +default

            +inner-context('h3 +', 'h4 +')
                some: thing

            +inner-context('h3 +, h4 +')
                some: other-thing

    +__________________________
    +element('.footer-info')
        +default

        +state('{hover}')
                some: thing-1

        +inner-context('h3 +', 'h4 +')
            +default

            +state('{hover}')
                some: thing-2

            +state(':active')
                some: thing-3