@import "./src/spot-css"


+component('test')
    +register
        +state('{hover}', ':hover', '.simulate-hover')
        +state(':active')
        +element('span')
        +element('.description')
        +element('.info')
        +element('footer')
        +element('.footer-info')
    
    +_____________________
    +element('span')
        +default

        +inner-context('h1 +')
            display: block

    +___________________________________
    +element('.description', '.info')
        +default

        +inner-context('h2 ~')
            border: 0

    +__________________________
    +element('footer')
        +default

        +state('{hover}')
            +default

            +inner-context('h3 +', 'h4 +')
                some: thing

            +inner-context('h3 +, h4 +')
                some: other-thing

    +__________________________
    +element('.footer-info')
        +default

        +state('{hover}')
                some: thing-1

        +inner-context('h3 +', 'h4 +')
            +default

            +state('{hover}')
                some: thing-2

            +state(':active')
                some: thing-3



+component('.test')
    +register
        +element('.days')
            +element('.day')

    +________________________
    +element('.days')

        +________________________
        +element('.day')
            +default

            +inner-context('.insert +')
                prop: val


// // @TODO - registered +inner-context with alias
// +component('.card-listing')
//     +register
//         +state(':hover')
//         +element('.listing-content')
//             +element('.listing-actions')
//                 +inner-context('{inside a card}', '.card') // @TODO - registered +inner-context has to have {alias}
//                 +spot-exception-element('{direct child elements except first-child}', '>*+*')
    
//     +_______________________________
//     +element('.listing-content')
        
//         +_______________________________
//         +element('.listing-actions')
       
//             // @TODO this is the block above the right way
//             +_____________________________________________________________________
//             +spot-exception-element('{direct child elements except first-child}')
//                 +default

//                 +inner-context('{inside a card}')
//                     +assert('.card-listing .listing-content .card .listing-actions > * + *')
//                     +default
//                         margin-left: 10px

//                     +state(':hover')
//                         margin-left: 5px
                