@import "./src/spot-css"


+component("my-component")
    +register
        +responsive('@media only screen and (max-width: 800px)')
        +responsive('@media only screen and (max-width: 360px)', 'mobile')
        +responsive('@media only screen and (max-width: 600px), only screen and (max-width: 600px)', 'multiple')
        +responsive('html.grayscale', 'grayscale')

    +responsive('@media only screen and (max-width: 800px)')
        property: value
    
    // alias
    +responsive('mobile')
        property: value

    // multiple @media queries
    +responsive('multiple')
        property: value

    // mixed @media and html.class context
    +responsive('multiple', 'grayscale')
        property: value



// defined somewhere in reusable mixins
@mixin responsive-breakpoints
    +responsive('@media (min-width:  576px)', 'sm')
    +responsive('@media (min-width:  768px)', 'md')
    +responsive('@media (min-width: 1280px)', 'lg')
    +responsive('@media (min-width: 1400px)', 'xl')


// later in component...
  
+component("my-component-2")
    +register
        +state(':hover')
        +responsive-breakpoints() // this can be reused in every component 

    // ----------------------------------------
    display: inline-block
    color: grey

    +state(':hover')
        color: red

    +responsive('sm', 'md')
        color: white

