@import "./src/spot-css"


+component("my-component")
    +register
        +responsive('@media only screen and (max-width: 800px)')
        +responsive('{mobile}', '@media only screen and (max-width: 360px)')
        +responsive('{multiple}', '@media only screen and (max-width: 600px), only screen and (max-width: 600px)')
        +responsive('{grayscale}', 'html.grayscale')

    +default

    +responsive('@media only screen and (max-width: 800px)')
        property: value
    
    // alias
    +responsive('{mobile}')
        property: value

    // multiple @media queries
    +responsive('{multiple}')
        property: value

    // mixed @media and html.class context
    +responsive('{multiple}', '{grayscale}')
        property: value-X



// defined somewhere in reusable mixins
@mixin responsive-breakpoints
    +responsive('{sm}', '@media (min-width:  576px)')
    +responsive('{md}', '@media (min-width:  768px)')
    +responsive('{lg}', '@media (min-width: 1280px)')
    +responsive('{xl}', '@media (min-width: 1400px)')
    +responsive('{mobile}', '@media only screen and (max-width: 360px)')
    +responsive('{multiple}', '@media only screen and (max-width: 600px), only screen and (max-width: 600px)')
    +responsive('{grayscale}', 'html.grayscale')


// later in component...
  
+component("my-component-2")
    +register
        +state(':hover')
        +responsive-breakpoints() // this can be reused in every component 

    +default
        display: inline-block
        color: grey

    +state(':hover')
        color: red

    +responsive('{sm}', '{md}')
        color: white

    // mixed @media and html.class context
    +responsive('{mobile}')
        +default
        
        +responsive('{grayscale}')
            +default

            +responsive('{multiple}')
                property: value-Y
    
    +responsive('{lg}')

    +responsive('{xl}')



  
+component("my-component-3")
    +register
        +state(':hover')
        +responsive('@container (max-width: 1024px)')
        +responsive('{container}', '@container (min-width: 700px)')
        +responsive('{container-with-name}', '@container nickname (min-width: 450px)')
        +element('.wrapper')

    +default
        display: block

    +responsive('@container (max-width: 1024px)')
        display: table

    +responsive('{container}')
        display: flex

    +responsive('{container-with-name}')
        display: grid

    +______________________
    +element('.wrapper')
        +default

        +state(':hover')
            +default
                color: blue

            +responsive('{container-with-name}')
                color: green
            

