my-component.x {
  property: value;
}

my-component.a, my-component.b {
  property: value;
}

@media only screen and (max-width: 360px) {
  my-component.x {
    property: value-responsive;
  }
}

my-component.x > .inner {
  property: value-x;
}

my-component > .inner sub-component.x {
  property: sub-value;
}

my-component > .inner sub-component sub-sub-component.x {
  property: sub-sub-value;
}

my-component > .inner > child-component.x {
  property: sub-value;
}

my-component > .inner > child-component sub-sub-component.x {
  property: sub-sub-value;
}

a.btn {
  border: 1px solid red;
}

button.btn {
  border: 1px solid green;
}

div.btn {
  border: 1px solid blue;
}

ul.btn, ol.btn {
  border: 1px solid yellow;
}

a.btn > .icon {
  background: red;
}

button.btn > .icon {
  background: green;
}

div.btn > .icon {
  background: blue;
}

ul.btn > .icon, ol.btn > .icon {
  background: yellow;
}

.btn > i.icon {
  background: black;
}

header > button.something {
  border: 1px solid green;
}
