@import "./src/spot-css"

+component("my-component")
    +register
        +state('.active')

    +default

    +state('.active')
        property: value

    +_________________________
    +child-element('.wrapper')
        property: another-value

    +state('.active') // throws error - invalid order
        property: value-1
