@media only screen and (max-width: 800px) {
  my-component {
    property: value;
  }
}

@media only screen and (max-width: 360px) {
  my-component {
    property: value;
  }
}

@media only screen and (max-width: 600px), only screen and (max-width: 600px) {
  my-component {
    property: value;
  }
}

@media only screen and (max-width: 600px), only screen and (max-width: 600px) {
  my-component {
    property: value;
  }
}

html.grayscale my-component {
  property: value;
}

my-component-2 {
  display: inline-block;
  color: grey;
}

my-component-2:hover {
  color: red;
}

@media (min-width: 576px), (min-width: 768px) {
  my-component-2 {
    color: white;
  }
}

@media only screen and (max-width: 360px) and (max-width: 600px), only screen and (max-width: 360px) and (max-width: 600px) {
  html.grayscale my-component-2 {
    property: value;
  }
}
