@media only screen and (max-width: 800px) {
  my-component {
    property: value;
  }
}

@media only screen and (max-width: 360px) {
  my-component {
    property: value;
  }
}

@media only screen and (max-width: 600px), only screen and (max-width: 600px) {
  my-component {
    property: value;
  }
}

@media only screen and (max-width: 600px), only screen and (max-width: 600px) {
  my-component {
    property: value;
  }
}

html.grayscale my-component {
  property: value;
}
