@media only screen and (max-width: 800px) {
  my-component {
    property: value;
  }
}

@media only screen and (max-width: 360px) {
  my-component {
    property: value;
  }
}

@media only screen and (max-width: 600px), only screen and (max-width: 600px) {
  my-component {
    property: value;
  }
}

@media only screen and (max-width: 600px), only screen and (max-width: 600px) {
  my-component {
    property: value-X;
  }
}

html.grayscale my-component {
  property: value-X;
}

my-component-2 {
  display: inline-block;
  color: grey;
}

my-component-2:hover {
  color: red;
}

@media (min-width: 576px), (min-width: 768px) {
  my-component-2 {
    color: white;
  }
}

@media only screen and (max-width: 360px) and (max-width: 600px), only screen and (max-width: 360px) and (max-width: 600px) {
  html.grayscale my-component-2 {
    property: value-Y;
  }
}

my-component-3 {
  display: block;
}

@container (max-width: 1024px) {
  my-component-3 {
    display: table;
  }
}

@container (min-width: 700px) {
  my-component-3 {
    display: flex;
  }
}

@container nickname (min-width: 450px) {
  my-component-3 {
    display: grid;
  }
}

my-component-3:hover .wrapper {
  color: blue;
}

@container nickname (min-width: 450px) {
  my-component-3:hover .wrapper {
    color: green;
  }
}
