my-component-1.active::before, my-component-1.active::after {
  property: value;
}

my-component-2.active::before {
  property: value-b;
}

my-component-3.active::after {
  property: value-a;
}

my-component-3::first-letter {
  property: value-1;
}

my-component-3::first-line {
  property: value-1;
}

my-component-3::placeholder {
  property: value-1;
}

my-component-3::selection {
  property: value-1;
}
