@import "./src/spot-css"

// element selector
+component("my-component")
    +register
        +child-element('span.sub')
            +sub-component("a")
            +sub-component("strong")


    property: value

    // ---------------------------------
    +child-element('span.sub')

        // ---------------------------------
        +sub-component("a")
            +register
                +state(':hover')
            
            +default
                property: value
            
            +state(':hover')
                property: value-2

        // ---------------------------------
        +sub-component("strong")
            property: value
