@import "./src/spot-css"

+component(".component")
    +register
        +sub-component(".component-1")
        +sub-component(".component-2")

    property: value

    +_____________________________
    +sub-component(".component-1")
        property: value
    
    +_____________________________
    +sub-component(".component-2")
        property: value

    +_____________________________
    +sub-component(".component-1")  // throws error - duplicate (same selector again)
        property: value

