@import "./src/spot-css"

// element selector
+component("my-component")
    +register
        +child-element('span.sub')
            +sub-component("a")
            +sub-component("strong")

    property: value

    +_________________________
    +child-element('span.sub')

        +__________________
        +sub-component("a")
            +register
                +state(':hover')
            
            +default
                property: value
            
            +state(':hover')
                property: value-2

        +_______________________
        +sub-component("strong")
            property: value
