my-component:hover {
  property: value;
}

my-component.a, my-component.b {
  property: value;
}

@media only screen and (max-width: 360px) {
  my-component:hover {
    property: value-responsive;
  }
}

my-component:hover > .inner {
  property: value-x;
}

my-component > .inner > sub-component:hover {
  property: sub-value;
}

my-component > .inner > sub-component > sub-sub-component:hover {
  property: sub-sub-value;
}
