@import "./src/spot-css"

// element selector
+component("my-component")
    property: value

// class selector
+component(".class-component")
    property: value

// complex selectors (not simple) are also supported
+component(".context .component")
    property: value

// component with alias
+component('{Page}', 'html')
    property: value

// component with alternatives
+component('{Page}', 'page1', 'page2')
    +register
        +state(':hover')
        +element('.wrapper')

    +default
        property: value

    +state(':hover')
        property: value-hover

    +___________________
    +element('.wrapper')
        +default
            display: block

        +state(':hover')
            display: flex