@import "./src/spot-css"

// element selector
+component("my-component")
    property: value

// class selector
+component(".class-component")
    property: value

// complex selectors (not simple) are also supported
+component(".context .component")
    property: value

// component with alias
+component('{Page}', 'html')
    property: value

// component with alternatives
+component('{Page}', 'page1', 'page2')
    +register
        +state(':hover')
        +element('.wrapper')

    +default
        property: value

    +state(':hover')
        property: value-hover

    +___________________
    +element('.wrapper')
        +default
            display: block

        +state(':hover')
            display: flex


// normalize element selectors '>li' vs '> li'
+component('.menu-level-1')
    +register
        +element('>li') // test
            +variant(':first-child')
            +variant('.exp')
            +element(' ~ a') // test
                +state(':hover')
                +variant('.active')
                +pseudo-element('before')
                +pseudo-element('after')
                +element(' >b') // test

    +________________________________
    +element('> li') // test
        +default
            border: 0

        +variant(':first-child')
            margin-bottom: 20px
                
        +________________________________
        +element('~ a') // test
            +default
                color: white         

            +variant(':first-child')
                padding: 24px

            +state(':hover')
                color: orange

            +variant('.active')
                color: orange

            +variant('.exp')
                color: orange

            +________________________________
            +pseudo-element('before')
                +default
                    
                +variant('.exp')
                    content: ''

            +________________________________
            +pseudo-element('after')
                +default
                    
                +variant('.exp')
                    content: ''                    

            +________________________________
            +element('>b') // test
                +default
                    font-weight: 400

                +variant(':first-child')
                    color: orange



// normalize component selector 'ul>li' vs 'ul > li'
+component('ul>li')
    display: block
