@import "./src/spot-css"

// element selector
+component("my-component")
    property: value

// class selector
+component(".class-component")
    property: value

// complex selectors (not simple) are also supported
+component(".context .component")
    property: value

// component with alias
+component('Page', 'html')
    property: value