@import "./src/spot-css"


+component("my-component")
    +register
        +variant('.a')
        +variant('.b')
        +variant('.x')
        +responsive('{mobile}', '@media only screen and (max-width: 360px)')
        +responsive('{multiple}', '@media only screen and (max-width: 600px), only screen and (max-width: 600px)')

        +child-element('.inner')
            +sub-component("sub-component")
            +child-component("child-component")

    +default

    +variant('.x')
        +default
            property: value
    
    +variant('.a', '.b')
        property: value

    +responsive('{mobile}')
        +default

        +variant('.x')
            property: value-responsive

    +responsive('{multiple}')

    +_______________________
    +child-element('.inner')
        +default
        +variant('.x')
            property: value-x

        +______________________________
        +sub-component("sub-component")
            +register
                +variant('.x')        
                +sub-component("sub-sub-component")
                
            +default

            +variant('.x')
                property: sub-value

            +__________________________________
            +sub-component("sub-sub-component")
                +register
                    +variant('.x')        
                
                +default

                +variant('.x')
                    property: sub-sub-value

        +______________________________
        +child-component("child-component")
            +register
                +variant('.x')        
                +sub-component("sub-sub-component")
                
            +default

            +variant('.x')
                property: sub-value

            +__________________________________
            +sub-component("sub-sub-component")
                +register
                    +variant('.x')        
                
                +default

                +variant('.x')
                    property: sub-sub-value


// test of elements variants
+component('.btn')
    +register
        +variant('a') // <---
        +variant('button') // <---
        +variant('{alias 1}', 'div') // <---
        +variant('{alias 2}', 'ul', 'ol') // <---
        +element('> .icon')
            +variant('i') // <---

    +default

    +variant('a')
        border: 1px solid red

    +variant('button')
        border: 1px solid green

    +variant('{alias 1}')
        border: 1px solid blue

    +variant('{alias 2}')
        border: 1px solid yellow

    +____________________
    +element('> .icon')
        +default

        +variant('a')
            background: red

        +variant('button')
            background: green

        +variant('{alias 1}')
            background: blue

        +variant('{alias 2}')
            background: yellow

        +variant('i') // special - applies to this sub-element
            background: black



+component('header > .something')
    +register
        +variant('button')

    +default

    +variant('button') //  header > button.something  
        border: 1px solid green
