@import "./src/spot-css"

div a

  // element
  +add-element-specificity(1)
    property: value-1

  +add-element-specificity(2)
    property: value-2

  &::before
    +add-element-specificity(1)
        property: value-3
  
  // before
  &:before
    +add-element-specificity(1)
        property: value-4

  &::before
    +add-element-specificity(1)
        property: value-5

  html &
    &::before
      +add-element-specificity(1)
          property: value-6

  // after
  &:after
    +add-element-specificity(1)
        property: value-7
        
  &::after
    +add-element-specificity(1)
        property: value-8

  html &
    &::after
      +add-element-specificity(1)
          property: value-9

  // class
  +add-class-specificity(1)
    property: value-10

  +add-class-specificity(2)
    property: value-11

  // id
  +add-id-specificity(1)
    property: value-12

  +add-id-specificity(2)
    property: value-13

  // mixed
  +add-element-specificity(1)
    +add-class-specificity(1)
      +add-id-specificity(1)
        property: value-14


// multiple selectors
div .a, div .b

  // element
  +add-element-specificity(1)
    property: value-15