@import "./src/spot-css"

// element selector
+component("my-component")
    property: value

    +_______________________
    +sub-element(".wrapper")
        property: value
    
    +_______________________________________
    +sub-element(".wrapper-a", ".wrapper-b") // multiple child elements
        property: value

    +_______________________________________
    +sub-element(".wrapper-x", ".wrapper-y", ".wrapper-z") // multiple child elements
        property: value

    // sub sub element
    +_________________________
    +sub-element(".wrapper-c")
        property: value-c
        
        +_________________________
        +sub-element(".wrapper-d")
            property: value-d

    +__________________________
    +sub-element("div.wrapper") // complex selector (but single selector)
        property: value
