/// Prefix of the SPOT CSS Framework errors.
/// @access private
/// @type String
$SPOT_ERROR_PREFIX: "SPOT CSS: ";


/// Map of registered components.
/// @group Component
/// @access private
/// @type Map
$_registered-components: ();


/// Current component or stack of current components (if multiple are nested).
/// @group Component
/// @access private
/// @type Map
$_current-components: ();


/// Current media or stack of current media queries (if multiple are used).
/// @group Component
/// @access private
/// @type List
$_current-media-stack: [];


/// Flag of register mode - if parser enters mixin register.
/// @group Component
/// @access private
/// @type Bool
$_is-register-mode: false;


/// Flag of default mode - if parser enters mixin default.
/// @group Component
/// @access private
/// @type Bool
$_is-default-mode: false;


/// Flag of modifier mode - if parser enters mixin variant, state, context, browser or responsive.
/// @group Component
/// @access private
/// @type Bool
$_is-modifier-mode: false;


/// Flag of calling any mixin in register - if parser enters mixin register.
/// @group Component
/// @access private
/// @type Bool
$_is-called-something-in-register: false;


/// Flag of sub-component mode - if parser enters mixin sub-component.
/// @group Component
/// @access private
/// @type Bool
$_is-sub-component-mode: false;


/// Last used modifier name ('variant', 'state', 'context', 'browser' or 'responsive').
/// @group Component
/// @access private
/// @type String
$_current_modifier: '';


/// Map of registered modifiers, e.g. state, variant, context, ...
/// @group Component
/// @access private
/// @type Map
$_registered-modifiers: ();


/// List of registered identifiers for guarding uniqueness (per component).
/// @group Component
/// @access private
/// @type List
$_registered-identifiers: [];


/// List of registered aliases of identifiers for guarding uniqueness (per component).
/// @group Component
/// @access private
/// @type List
$_registered-aliases: [];


/// List of registered sub-components for guarding uniqueness and required register (per component).
/// @group Component
/// @access private
/// @type List
$_registered-sub-components: [];


/// List of calling register mixin for each component.
/// @group Component
/// @access private
/// @type List
$_register-called-on: [];


/// List of calling defualt mixin for each component element.
/// @group Component
/// @access private
/// @type List
$_default-called-on: [];


/// List of selectors where sub selectors was applied, 
/// where mixin child-element(), sub-element(), pseudo-element() was called.
/// @group Component
/// @access private
/// @type List
$_selectors-with-sub-elements: [];


/// List of already used selectors for watching multiple using
/// of state(), variant(), context(), browser() and responsive().
/// @group Component
/// @access private
/// @type List
$_already-used-selectors: [];


/// List of already used selectors (also multiple) for watching multiple using
/// to be able distinct between +variant('.apple', '.orange') and inside +only-for('.apple').
/// @group Component
/// @access private
/// @type List
$_already-used-multiple-selectors: [];


/// Map of used modifiers (nested) per component, e.g. state, variant, context, ...
/// @group Component
/// @access private
/// @type Map
$_used-modifiers: ();

/// Map of current modifiers stack per component, e.g. state, variant, context, ...
/// @group Component
/// @access private
/// @type Map
$_current-modifiers-stack: ();


/// Helper variable for remember given super component index as first argument
/// for mixins super-state and super-variant.
/// @group Component
/// @access private
/// @type Number | null
$_super-component-index: null;