@import "./src/spot-css"


+component('my-component')
  +register
    +state(':hover')
    +variant('.apple')
    +variant('.orange')
    +internal-state('.loaded')
    +child-element('span')
      +internal-state('.loadedx')

  +default
    prop: val

  +internal-state('.loaded')
    property: loaded

  +variant('.apple', '.orange')
    +default
      property: value

    +only-for('.apple')
      +default
        property: other-value-1
      
      +state(':hover')
        property: value-3

    +only-for('.orange')
      property: other-value-2

  +_____________________
  +child-element('span')
      +default
        property: no-value
      
      // +internal-state('.loaded')
      //   property: loaded-inside

      +variant('.apple', '.orange')
        property: value